:root {
    --red: #df5454;
    --dark-red: #54393c;
    --orange: #df6f54;
    --light-orange: #df9e54;
    --yellow: #e1bb51;
    --mocha: #89462d;
    --light-mocha: #a16550;
    --amber: #ff8622;
    --light-yellow: #f5c68d;
    --light-brown: #b79c91;
    --brown: #91776b;
    --dark-brown: #423732;
    --dark-maroon: #352a2a;
    --maroon: #9d4141;
    --beige: #e2c5a0;
    --guac: #e3f06d;
    --lime: #83bb44;
    --green: #469740;
    --dark-green: #2d594f;
    --turquoise: #38886d;
    --light-teal: #5ec9a0;
    --cyan: #5ec6c9;
    --olive: #466a2d;
    --light-olive: #689c43;
    --teal: #387d88;
    --light-blue: #82b9df;
    --blue: #5d6bbd;
    --dark-blue: #576077;
    --blurple: #3264af;
    --midnight: #3264af;
    --cadet: #6ba9b3;
    --purple: #735fb0;
    --pink: #db89ac;
    --orchid: #d378c4;
    --lavender: #927fde;
    --periwinkle: #c1b4f9;
    --dark-purple: #36394c;
    --rose: #c53076;
    --gray: #bcbfc4;
    --white: #f5f5f5;
    --black: #121212;
    --dark-gray: #77797b;
    --steel: #97acb4;
    --light-steel: #c2d4dc;
    --plush-purple: #cea3d3;
    --plush-blue: #a5afd6;
    --plush-peach: #f2c4af;
    --unreleased-1: #f2c4af;
    --unrelessed-2: #ffffd0;
    --unreleased-3: #1b1b1b;
    --cc-yellow: #f7c331;
}
